@import "../../variables/constants.scss";

#sideContainer{
    min-width: 280px;
    height: 100vh;
    overflow-y: hidden;
}

#side{
    position: fixed;
    height: 100%;
    width: 280px;
}

svg{
    color: #fff;
}

.logodash{
    border-bottom: 1px solid #ccc;
}

.dashoption{
    border: 1px solid rgb(42, 42, 42);
    cursor: pointer;
    span{
        color: #fff;
    }
}
.dashexit{
    cursor: pointer;
    text-decoration: none;
}
.dashoption-active{
    cursor: default;
    border: 1px solid #ddd;
    background-color: #ddd;
    svg{
        color: #212529;
    }
    span{
        color: #212529;
    }
}


@media (max-width: 992px) { 
    #sideContainer{
        width: 60px;
        min-width: 60px;
    }
    #side{
        width: 60px;
    }
    .logodash{
        font-size: 18px;
        .event{
            bottom: 0;
        }
    }
    .dashoption{
        width: min-content;
    }
    .dashoption-active{
        width: min-content;
    }
    .span-option-dash{
        display: none;
    }
 }
