@import "../../variables/constants.scss";

#footer{
    color: #fff;
    span{
        padding: 0 5px;
        &:hover{
            color: $vivos;
        }
    }
}

.link-admin{
    text-decoration: none;
    color: #fff;
    &:hover{
        color: $vivos;
    }
}

.logoEVT{
    border-right: 5px solid $vivos;
    text-align: end;
    padding-right: 10px;
    h1{
        font-family: $fuente_principal;
        color: $vivos;
        font-size: 3rem;
        margin: 0;
    }
    #sport{
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .rowfooter{
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    .rowfooter{
        width: 60%;
    }
}
